# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.pyd

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build/
packages/

python/PyBaseVisitor.h
python/core.cpp
python/zuspec_parser/zsp_ast.pxd
python/zuspec_parser/zsp_ast_decl.pxd

python/ast.cpp
python/ast.h
python/ast.pyx
python/ast_api.h
python/zsp_parser/ast.pxd
python/zsp_parser/ast_decl.pxd
python/zsp_parser/zsp_ast.pxd
python/zsp_parser/zsp_ast_decl.pxd
python/zsp_parser/*.so*
python/*.cpp

__pycache__/

.eggs/
*.egg-info/

src/.antlr
